<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActiveRecord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OCUnit Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Unit tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7CAF24F13BA01A500013E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7CAF26C13BA021800013E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F87B10270E06F6B400580499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8CA5920113998FB0053B867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
