<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pattern</key>
		<string>(quiz)zes$</string>
		<key>replacement</key>
		<string>$1</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(matr)ices$</string>
		<key>replacement</key>
		<string>$1ix</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(vert|ind)ices$</string>
		<key>replacement</key>
		<string>$1ex</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>^(ox)en</string>
		<key>replacement</key>
		<string>$1</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(alias|status)es$</string>
		<key>replacement</key>
		<string>$1</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(octop|vir)i$</string>
		<key>replacement</key>
		<string>$1us</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(cris|ax|test)es$</string>
		<key>replacement</key>
		<string>$1is</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(shoe)s$</string>
		<key>replacement</key>
		<string>$1</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(o)es$</string>
		<key>replacement</key>
		<string>$1</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(bus)es$</string>
		<key>replacement</key>
		<string>$1</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>([m|l])ice$</string>
		<key>replacement</key>
		<string>$1ouse</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(x|ch|ss|sh)es$</string>
		<key>replacement</key>
		<string>$1</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(m)ovies$</string>
		<key>replacement</key>
		<string>$1ovie</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(s)eries$</string>
		<key>replacement</key>
		<string>$1eries</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>([^aeiouy]|qu)ies$</string>
		<key>replacement</key>
		<string>$1y</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>([lr])ves$</string>
		<key>replacement</key>
		<string>$1f</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(tive)s$</string>
		<key>replacement</key>
		<string>$1</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(hive)s$</string>
		<key>replacement</key>
		<string>$1</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>([^f])ves$</string>
		<key>replacement</key>
		<string>$1fe</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(^analy)ses$</string>
		<key>replacement</key>
		<string>$1sis</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>((a)naly|(b)a|(d)iagno|(p)arenthe|(p)rogno|(s)ynop|(t)he)ses$</string>
		<key>replacement</key>
		<string>$1\2sis</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>([ti])a$</string>
		<key>replacement</key>
		<string>$1um</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>(n)ews$</string>
		<key>replacement</key>
		<string>$1ews</string>
		<key>type</key>
		<string>singular</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>s$</string>
		<key>replacement</key>
		<string></string>
		<key>type</key>
		<string>singular</string>
	</dict>
</array>
</plist>
