<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>$</string>
	  <key>replacement</key>
	  <string>s</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>s$</string>
	  <key>replacement</key>
	  <string>s</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>(ax|test)is$</string>
	  <key>replacement</key>
	  <string>$1es</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>(octop|vir)us$</string>
	  <key>replacement</key>
	  <string>$1i</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>(alias|status)$</string>
	  <key>replacement</key>
	  <string>$1es</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>(bu)s$</string>
	  <key>replacement</key>
	  <string>$1ses</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>(buffal|tomat)o$</string>
	  <key>replacement</key>
	  <string>$1oes</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>([ti])um$</string>
	  <key>replacement</key>
	  <string>$1a</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>sis$</string>
	  <key>replacement</key>
	  <string>ses</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>(?:([^f])fe|([lr])f)$</string>
	  <key>replacement</key>
	  <string>$1$2ves</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>(hive)$</string>
	  <key>replacement</key>
	  <string>$1s</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>([^aeiouy]|qu)y$</string>
	  <key>replacement</key>
	  <string>$1ies</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>(x|ch|ss|sh)$</string>
	  <key>replacement</key>
	  <string>$1es</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>(matr|vert|ind)ix|ex$</string>
	  <key>replacement</key>
	  <string>$1ices</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>([m|l])ouse$</string>
	  <key>replacement</key>
	  <string>$1ice</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>^(ox)$</string>
	  <key>replacement</key>
	  <string>$1en</string>
	</dict>

	<dict>
	  <key>type</key>
	  <string>plural</string>
	  <key>pattern</key>
	  <string>(quiz)$</string>
	  <key>replacement</key>
	  <string>$1zes</string>
	</dict>
</array>
</plist>